extends layout

include mixins/_storeCard

block content
	.inner
		h2= title
		if user
		.stores
			-const heartStrings = user.hearts.map(obj => obj.toString())
			-const hearted = stores.filter(store => { return heartStrings.includes(store._id.toString()) }) 
			each store in hearted
				+storeCard(store)
